        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        fieldset {
            border: 2px solid #ccc;
            padding: 20px;
        }

        legend {
            font-weight: bold;
            font-size: 1.2em;
        }

        input {
            font-size: 25px;
            margin: 10px 0;
            height: 45px;
            width: 100%;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            padding: 8px 12px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        h2 {
            font-size: 0.9em;
            color: #888;
            margin-top: 15px;
        }

        .parent {
            height: 60px;
            width: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 10px;
            gap: 10px;
        }

        .parent > .button {
            border: 2px solid black;
            height: 100%;
            width: 50%;
        }
        .parent > #black {
            background: #000;
            border: none;
            cursor: pointer;
        }
        .parent > #blue {
            background: blue;
            border: none;
            cursor: pointer;
        }
        .parent > #red {
            background: red;
            border: none;
            cursor: pointer;
        }
        .parent > #yellow {
            background: yellow;
            border: none;
            cursor: pointer;
        }